/* -----------------RESET RULE----------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------GENERAL RULE----------------- */
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.color-red{
    color: red;
}

/* -----------------MAIN RULE----------------- */
main{
    height: calc(100vh - 60px);
    background-color: black;
    overflow: auto;
    position: relative;
}

.header-main-container{
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1;
}
.header-main-container div{
    color: white;
    background-color: gray;
    display: inline-block;
    font-size: small;
    padding: 4px;
    font-weight: bold;
    border-radius: 5px;
}

.header-main-container > div{
    display: inline-block;
}

.main-container{
    padding: 40px;
    justify-content: center;
}

.box-user{
    width: 300px;
    height: 200px;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
}

.name-user{
    color: white;
    background-color: rgba(115, 114, 114, 0.6);
    display: inline-block;
    padding: 2px;
    font-size: small;
    position: absolute;
    bottom: 3px;
    left: 0;
}

/* -----------------FOOTER RULE----------------- */
footer{
    background-color: rgb(17, 16, 16);
    height: 60px;
    color: white;
}

footer *{
    font-weight: normal;
}
.box-user img{
    width: 100%;
    object-fit: fill;
}

.footer-container{
    justify-content: space-between;
    align-items: center;
}

.box-mic-video{
    text-align: center;
    margin-right: 8px;
}

.section-footer-2{
    justify-content: space-around;
}

.section-footer-3{
    background-color: grey;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.option-section2{
    align-items: center;
}
